<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
    <body>
        <form action="@{/users/{id}(id = ${user.id})}" method="post">
            <label for="firstName">FistName
                <input type="text" name="firstName" id="firstName" th:value="${user.firstName}"/>
            </label><br/>

            <label for="firstName">LastName
                <input type="text" name="lastName" id="lastName" th:value="${user.lastName}"/>
            </label><br/>

            <label for="birthDate">BirthDate
                <input type="date" name="birthDate" id="birthDate" th:value="${user.birthDate}"/>
            </label><br/>

            <label for="role">Role
                <input th:each="role : ${roles}" type="radio" name="role" id="role"
                       th:value="${role.name()}"
                       th:text="${role.name()}" th:selected="${user.role==role}"/><br/>
            </label><br/>

            <button type="submit">Update</button>
        </form>
    </body>
</html>